/**Header*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: 0;
}

/** 
- VH Define largura e altura totais da viewport */
body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #efefef;
    max-width: 100%;
}

/* Deixa o scroll mais suave da web*/
html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

#button_cascata {
    color: #284058;
}

/*--------------------------------------------------Header 1---------------------------------------------------*/
#header-desktop {
    background-color: #2C3E50;
    height: 60px;
}


.nav-item .nav-link {
    color: rgb(255, 255, 255) !important;
    position: relative;
    padding-bottom: 5px;
    font-weight: bold;

}

/* Linha animada no hover */
.nav-item .item-navegacao::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-in-out;
}

.nav-item .item-navegacao:hover::after {
    width: 100%;
}

#login-icon {
    margin-top: 8px;
}

#login-icon a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item {
    margin: -10px 40px 0 0;
}

.navbar-brand img {
    margin-top: -20px;
    max-width: 60%;
}

/*--------------------------------------------------Header 2---------------------------------------------------*/
#divalert {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 2;

}
#modalAtivos{
    z-index: 99;
}
#mensagemErro {
    margin-right: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gm {
    background-color: #efefef;
    align-items: center;
    flex-direction: column;
    padding: 30px 5px 30px 5px;
}

.titulo1 {
    margin-left: -80px;
    font-weight: bold
}

.geral {
    display: flex;
    gap: 20px;
    transform: translateX(100px);
}

#button_cascata {
    background-color: #86b499;
    color: #efefef;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 90px;
    box-shadow: 2px 2px #3e3e3e;
    margin: 0;
}

#button_cascata_historic {
    background-color: #74c0fc;
    color: #efefef;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 90px;
    box-shadow: 2px 2px #3e3e3e;
    margin: 0;
}

#button-cascata {
    padding-left: 15px;
    display: flex;
    gap: 15px;
}

#button_cascata_historic {
    padding-left: 15px;
    display: flex;
    gap: 5px;
    width: 100px;
}

.icons a {
    display: flex;
    gap: 14px;
    color: #758e9f;
    text-decoration: none;
}

.mini {
    align-items: center;
    justify-content: center;
}



.icons2 a {
    display: flex;
    gap: 14px;
    color: #284058;
    text-decoration: none;
}

#texto {
    cursor: pointer;
}

#button_cascata2 {
    color: #efefef;
    border: none;
    cursor: pointer;
    background: none;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

#button_cascata3 {
    color: #efefef;
    border: none;
    cursor: pointer;
    background: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

#button_cascata2 {
    font-size: 20px;
}

#vincularPeca {
    background-color: #284058;
}


#save{
  background-color: #284058;  
}

#vincularFunc{
    background-color: #284058;
}

/*--------------------------------------------------Modal---------------------------------------------------*/


#Corpo_modelo {
    margin: 0;
    padding: 15px 15px 15px 15px;
}

#principal_modelo {
    display: flex;
}

#inputAddress {
    margin: 50px;
}

#Corpo_modelo {
    margin-bottom: 0rem !important;
}

#rodape_modelo button {
    margin: 0 10px;
    gap: 15px;
}

#vincular {
    background-color: #284058;
    margin: 10px;
    margin-left: 380px;
}

.number_one2 {
    width: 100%;
}

/*--------------------------------------------------Modal-History---------------------------------------------*/

.modal-history {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal-history.show {
    display: block;
    opacity: 1;
}

.modal-history-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.modal-history.show .modal-history-content {
    transform: scale(1);
}

.modal-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal-history-footer {
    margin-top: 10px;
    text-align: right;
}

.close-history {
    cursor: pointer;
    font-size: 25px;
    border: none;
    background: none;
    color: #404040;
    transition: opacity 0.3s ease-in-out;
}



.btn-close-history {
    background-color: #284058;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-close-history:hover {
    background-color: #284058eb;
}

/*--------------------------------------------------Filtro---------------------------------------------------*/

.dropfiltro {
    position: absolute;
    top: 60px;
    right: 5px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    display: none;
}

.dropfiltro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropfiltro h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
    color: #888;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;
}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
}

.search-container i {
    color: #888;
    margin-left: 5px;
}

.dropfiltro ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.dropfiltro ul li {
    padding: 5px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dropfiltro ul li:hover {
    background: #f1f1f1;
}

.history-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.number_one1{
    width: 10px;
}

.modal_main{
    justify-content: space-between;
}

.number_one{
    width: 250px;
}

#bloco{
  border-radius: 15px;
  width: 20px;
}

#filterDropdown {
    color: #758e9f;
}

#filterDropdown:hover {
    color: #687d8b;
}

#exportDropdown {
    box-shadow: 2px 2px #3e3e3e;
    background-color: #157347;
    border: none;
    transition: all 0.3s ease-in-out;
}

#exportDropdown:hover {
  background-color: #125e3b; 
  transform: scale(1.02); 
}

#aplicarFiltros {
    background-color: #2C3E50;
    border: none;
}


/*--------------------------------------------------Tabela---------------------------------------------------*/

#total {
    background: #2c3e50;
    border: none;
    color: #ccc;
    border-radius: 10px;
    width: 2%;
}

.table-container {
    width: 100%;
    max-width: 97%;
    background: #2c3e50;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: flex;
    justify-content: center;
}


table {
    width: 100%;
    border-collapse: collapse;

}

th,
td {
    border: 1px solid #ccc;
    padding: 3px;
    text-align: left;
}

#vanechline {
    border: none;
    width: 10px;
    text-align: left;
    border-radius: 10px;
}

#vanechline2 {
    border: none;
    width: 1px;
    text-align: left;
    border-radius: 10px;

}

th {
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    text-align: center;
}

td {
    background-color: #F9F9F9;
}

.status-dropdown {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#center {
    text-align: center;
    padding: 0;
    width: 150px;
}

#center button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

td {
    border-bottom: none;
}

#center {
    border-bottom: none;
}

.delete-btn,
.edit-btn {
    margin: 1px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    /* Definir o mesmo tamanho para ambos */
    display: flex;
    align-items: center;
    justify-content: center;

}

.delete-btn {
    color: red;
    font-size: 25px;
}

.edit-btn {
    color: #284058;
    background-color: none;
    font-size: 25px;
}

.func-btn {
    color: #21A366;
    font-size: 25px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    border-radius: none;

}

#smalcolum {
    width: 40px;
    height: 100px;
}

.peca-btn {
    color: #025E73;
    border-radius: none;
    background: none;
    margin: 1px;
    font-size: 25px;
    text-decoration: none;
    border: none;
}



.divider {
    display: flex;
}

.custom-modal.show {
    display: block !important;
}


.modal-backdrop.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    /* Preto com 50% de opacidade */
}

/*--------------------------------------------------Button---------------------------------------------------*/

#button_main {
    display: flex;
    flex-direction: column;
}

.page-line {
    width: 30px;
    height: 5px;
    background-color: gray;
    border: none;
    margin: 5px;
    transition: background-color 0.3s;
}

.active-line {
    background-color: blue;
}

.arrow-btn {
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#particles-js {
  position: fixed; /* Fixa na tela, não rola com o conteúdo */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Essencial: coloca o canvas atrás de todo o resto */
}
